
/************************************* Global CSS *************************************/
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

:root {
  --header-height: 30em;
}

body {
  background-image: url('../img/manhattan.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 200%;
  background-position: center center;
  font-size: 62.5%;
  font-family: arial;
  margin: 0;
  padding: 0;
}

a:active {
  outline: none;
}
button:focus {
  outline: none;
}




/**************************** header CSS ****************************/




.header {
  background-image: url('../img/nyt_black.png');
  background-color:#CDE2D9;
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position: center 35%;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  border-bottom: 5px solid rgba(255,255,255,0.2);
}


#neon {
  color: white;
	position: absolute;
	left: 50%;
	top: 60%;
	-webkit-transform: translate(-50%, 20%);
	        transform: translate(-50%, 20%);
	font-size: 6em;
	margin: 0;
	padding: 0 20px;
	font-family: 'Quicksand', sans-serif;
	text-shadow: 0 0 20px #030261;
}

#neon:after {
	content: '[ WEB-SCRAPER ]';
	color: #84D2B3;
	position: absolute;
	padding: 0 20px;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-filter: blur(15px);
	        filter: blur(15px);
}

#neon:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #84D2B3;
	z-index: -2;
	-webkit-filter: blur(40px);
	        filter: blur(40px);
	opacity: 0.5;
}

.button-light {
  font-size: 2.2em;
  padding: 0.7em 1.3em;
  font-weight: 600;
  border: none;
  background:#9FA4A2;
  color: white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin: 1em 1em 1em 0.25em;
}

.button-dark {
  font-size: 2.2em;
  padding: 0.7em 1.3em;
  font-weight: 600;
  border: none;
  background:#9FA4A2;
  color: white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin: 1em 1em 1em 0.25em;

}

.button-dark:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);

}
.button-light:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button-group {
  position: absolute;
  bottom: 0;
  right: 0;
}

#viewSaved {
  left: 11.5%;
}

.filler {
  width: 100%;
  height: var(--header-height);
}




/***************************** modal CSS *****************************/




.modal-content {
  background-image: url('../img/notepad1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
  border-radius: 0;
  font-family: 'Rock Salt', cursive;
  color: rgb(249, 249, 249);

}

.modal-body {
  padding-top: 0;
  width: 80%;
  margin: 0 auto;
  color: black;
  
}

.noteInput {
  width: 100%;
  height: 2em;
  background: transparent;
  border: none;
  color: black;
  font-size: 2em;
  border-bottom: 2px solid #777;
}

#submitNote {
  background: transparent;
  border: 2px solid #777;
  font-size: 2em;
}

.instructions {
  display: inline-block;
  margin-right: 5em;
  color: black;
}

.note {
  background: transparent;
  margin-top: 5px;
  height: 3em;
  position: relative;
  cursor: pointer;
}
.noteTitle {
  display: inline-block;
  font-size: 2.5em;
  margin: 0;
  color: black;
}

.deleteNote {
  font-size: 2.5em;
  background: transparent;
  color: black;
  border: none;
}




/************************ panel CSS ************************/




.storyPanel {
	background-image: url('../img/rainy.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	padding: 20px;
	border-radius: 20px 0 20px 0;
	border: 3px solid #ddd;
	position: relative;
  margin: 50px 20px;
  opacity: 0.9;
}

.imgBox {
  overflow: hidden;
  border: 3px solid #ddd;
}

.imgBox:hover .storyImg{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.storyImg {
	float: right;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.storyHeadline {
  font-size: 3.5em;
  color: black;
	font-style: bold;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.storyHeadline:hover {
	color:white;
}

.storyPanel a {
	text-decoration: none;
	color: #ddd;
}

.storySummary {
	font-size: 2.5em;
}

.storyButton {
  font-size: 2.5em;
  padding: 5px 30px;
  border: 3px solid #ddd;
  background: #CDE2D9;
  font-weight: 600;
  color: rgb(17, 4, 4);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-right:10px;
  border-radius: 10px 0 10px 0;
}

.storyButton:hover {
  color: #0BD6B7;
  background: #ddd;
  border: 3px solid #777;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/************************ neon title animation CSS ************************/


#neon:before {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 60ms;
          animation-duration: 60ms;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-filter: blur(30px);
		        filter: blur(30px);
	}
	50% {
		-webkit-filter: blur(40px);
		        filter: blur(40px);
	}
	100% {
		-webkit-filter: blur(30px);
		        filter: blur(30px);

}
}

@keyframes pulse {
	0% {
		-webkit-filter: blur(30px);
		        filter: blur(30px);
	}
	50% {
		-webkit-filter: blur(40px);
		        filter: blur(40px);
	}
	100% {
		-webkit-filter: blur(30px);
		        filter: blur(30px);

}
}
